body
{
  background-color: rgb(13, 36, 54);
  margin: 0 auto;
}

#MainDivPvlt
{
  margin: 0 auto;
  margin-top: 20px;
  width: 1141px;
  height: 700px;
}

#ColorDivPvlt
{
  height: 6%;
  margin: 0 auto;
}

#GreenDivPvlt
{
  height: 100%;
  width: 50%;
  float: left;
  background-color: rgb(20, 240, 185);
}

#RedDivPvlt
{
  float: right;
  height: 100%;
  width: 50%;
  background-color: rgb(255, 92, 71);
}

#MainContentPvlt
{
    background-color: rgb(16, 52, 82);
    margin: 0 auto;
    padding: 0px;
    height: 100%;
}

#MainContentPvlt h1
{
  padding: 0px;
  margin: 0 auto;
  color: white;
  padding-top: 44px;
  text-align: center;
  font-size: 69px;
  font-family: Verdana;
}

#ButtonsDivPvlt
{
  margin: 0 auto;
  margin-top: 347px;
  height: 180px;
  width: 66%;
}

.ButtonPvlt
{
  width: calc(100% / 3 - 2.5px);
  margin: 0 auto;
  padding: 0px;
  height: 100%;
  font-family: Verdana;
  font-size: 50px;
}

.ButtonPvlt:nth-child(3n + 3)
{
    float: right;
}